eu.classified.search.url=http://buscador.eluniversal.com/do/searchAds
eu.classified.root.url=http://www.eluniversal.com/clasificados
eu.article.search.url=http://buscador.eluniversal.com/do/searchArticles
eu.article.search.url.en=http://buscador.eluniversal.com/do/searchArticlesEng
eu.article.search.advanced.url=http://buscador.eluniversal.com/articulos/index.jsp
eu.article.search.advanced.url.en=http://buscador.eluniversal.com/articulos/indexEng.jsp
eu.estampas.search.url=http://buscador.eluniversal.com/do/searchEstampas

eu.common.searchCalendar.url=http://archivo.eluniversal.com/do/index/show
eu.root.opinion.buscador.url=http://www.eluniversal.com/buscador.html

eu.root.url=http://www.eluniversal.com
eu3.root.url=http://www.eluniversal.com
eu.root.path=/manduca10/local3/eluniversal/euroot
eu.wc06.player.location=/wcup/2006/players
eu.wc06.history.location=/wcup/2006/history
eu.wc06.team.location=/wcup/2006/team
eu.wc06.glosary.location=/wcup/2006/glosary
eu.wc06.player.teamPlayer.location=/wcup/2006/players
eu.wc06.player.history.location=/wcup/2006/history


eu.ca07.player.location=/ca07/players
eu.ca07.history.location=/ca07/historia
eu.ca07.figure.location=/ca07/figura
eu.ca07.glosary.location=/ca07/glosary
eu.ca07.team.location=/ca07/team
eu.ca07.media.location=/ca07/multimedia
eu.ca07.player.teamPlayer.location=/ca07/players
eu.ca07.player.history.location=/ca07/historia


eu.99a.location=/aniversario/99

eu.ca07RightBar.location=/rightbar/ca07

eu.elecc06.location =/rightbar/elecc
eu.lbvp.0607.location=/rightbar/srcar
eu.lvbp0607.team.location=/lvbp/06_07/team
eu.lvbp0607.team.url=/lvbp/06_07/team
eu.lvbp0607.player.location=/lvbp/06_07/players

blogs.root.url=http://blogs.eluniversal.com
eupublish.root.path=/local2/applications/eupublish/root/
publisher.root.path=/local2/applications/publisher/root/

eu.lvbp0607.team.location=/lvbp/06_07/team
eu.lvbp0607.team.url=/lvbp/06_07/team
eu.lvbp0607.player.location=/lvbp/06_07/players

#LVBP 2007-2008
eu.lvbp0708.rightBar.location=/rightbar/bb0708
eu.lvbp0708.team.url=/lvbp/07_08/team
eu.lvbp0708.player.url=/lvbp/07_08/players
eu.lvbp0708.media.url=/lvbp/07_08/multimedia


mediaServer.root.url={{ip_media}}:{{port_media}}
mediaServer.serverVisible.root.url={{ip_media}}:{{port_media}}
mediaServer.searchAction.uri=/do/searchAction?standalone=false&query={0}
mediaServer.dateSearchAction.uri=/do/dateSearchAction?standalone=false&ano={0}&mes={1}&dia={2}&site={3}
mediaServer.thumbnail.uri=/thumbnail?image={0}&site={1}
mediaServer.checker.uri=/checkImage?image=
mediaServer.supportedExt=,jpg,swf,jpeg,bmp,gif,png,mp3,mpg,avi,

default.smtp.host=localhost

registry.root.url=http://www.eluniversal.com/registro
registry.requestLogin.url=http://www.eluniversal.com/registro/do/thirdParty/login?refererUrl={0}&{1}

#### Registro Estampas
est.registry.root.url=http://www.estampas.com/registro
est.registry.requestLogin.url=http://www.estampas.com/registro/do/thirdParty/login?profile=est&returnUrl={0}&{1}

playballEU.defaultBoxScoreWebRoot=\\WEB-INF\\data
playballEU.defaultArticleWebRoot=\\WEB-INF\\data\\articles
playball.image.path=/manduca10/local3/eluniversal/euroot/images/playball/
playball.image.url=/images/playball/{0}/{1}

ajaxConnection.root.url=http://www.eluniversal.com/ajax

mizona.root.path=/manduca10/local3/minisitios/mizona/root/
mizona.leftbar.location=/leftbar

eu.euro2008.player.location=/euro2008/players
eu.euro2008.history.location=/euro2008/history
eu.euro2008.glosary.location=/euro2008/glosary
eu.euro2008.team.location=/euro2008/team
eu.euro2008.figure.location=/euro2008/figure
eu.euro2008RightBar.location=/euro2008/rightbar

#########################
#####   NAV CONF    #####
#########################
siteNavigation.conf.file=/local2/applications/eupublish/root/WEB-INF/eu2/nav-defs.xml
siteNavigation.conf.id=eu2

eu.leftbar.location=/leftbar
eu.blogRightBar.location=/rightbar/blog
eu.blogAuthor.location=/WEB-INF/eu2/tiles/blogs/authors
eu.wc06RightBar.location=/rightbar/wc06

#########################
#####   CONSTANTS   #####
#########################

constant.articleType.avance=AVA
constant.articleSpecialType.EXP=EXP
constant.articleSpecialType.TEM=TEM

constant.server.timeZone.difference=0
aquista.file.location.path=/manduca10/local3/eluniversal/euroot/minisitios/aquista/pdfs

constant.typeMedia.IMG=Imagen
constant.typeMedia.SON=Sonido
constant.typeMedia.INF=Infografía
constant.typeMedia.VAD=Video ADMotion
constant.typeMedia.VYT=Video YouTube

#########################
#####   EU3         #####
#########################

eu3.menu.location=/menu/eu3
eu4.menu.location=/menu/eu4

### ruta de estampas
est.root.path=/manduca10/local3/estampas/root/
est.root.url=http://www.estampas.com
est.static.root.url=http://static.estampas.com

import.imageWaterMark=/local2/applications/eupublish/root/images/eluniversal.png



